.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header-link{
    display: flex;
}

.link-title{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
}
.header .link-title:hover{
    color: orange;
    border-bottom: 1px solid orange;
}